<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<th:block layout:fragment="content">
  <section class="hero-section position-relative bg-light-blue padding-medium">
    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="text-center padding-large no-padding-bottom">
            <h1 class="display-2 text-uppercase fw-bolder text-dark">Bài viết</h1>
            <div class="breadcrumbs">
                <span class="item">
                  <a href="/ministore">Trang chủ ></a>
                </span>
              <span class="item">Bài viết</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="post-grid padding-large">
    <div class="container">
      <div class="row d-flex flex-wrap">
        <aside class="col-md-3">
          <div class="sidebar">
            <div class="widget-search-bar">
              <form role="search" method="get" class="d-flex">
                <input class="search-field" placeholder="Tìm kiếm" type="search">
                <div class="search-icon bg-gray">
                  <a href="#">
                    <svg class="search content-light">
                      <use xlink:href="#search"></use>
                    </svg>
                  </a>
                </div>
              </form>
            </div>
            <div class="sidebar-filter pt-5">
              <div class="widget sidebar-recent-post mb-5">
                <h5 class="widget-title text-uppercase">Bài viết mới nhất</h5>
                <div class="sidebar-post-item" th:each="blog:${blogRelated}">
                  <div class="d-flex flex-wrap align-items-center mb-3">
                    <div class="col-lg-6">
                      <div class="card-image pe-3 pb-2">
                        <a th:href="'/blog-detail?idBlog='+${blog.getId()}">
                          <img th:src="${blog.getBlogImage()}" alt="blog" class="img-fluid">
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="card-content">
                        <h5 class="card-title">
                          <a th:href="'/blog-detail?idBlog='+${blog.getId()}" th:text="${blog.getTitle()}"></a>
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
               <div class="widget sidebar-social-links mb-5">
                <h4 class="widget-title text-uppercase">Social Links</h4>
                <ul class="sidebar-list list-unstyled">
                  <li class="tags-item">
                    <a href="">Facebook</a>
                  </li>
                  <li class="tags-item">
                    <a href="">Instagram</a>
                  </li>
                  <li class="tags-item">
                    <a href="">Twitter</a>
                  </li>
                  <li class="tags-item">
                    <a href="">Pinterest</a>
                  </li>
                  <li class="tags-item">
                    <a href="">Youtube</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </aside>
        <main class="col-md-9">
          <div class="row">
            <div class="col-lg-4" th:each="blog:${blogs}">
              <div class="card border-none">
                <div class="card-image">
                  <img th:src="${blog.getBlogImage()}" alt="" class="image-blog">
                </div>
              </div>
              <div class="card-body text-uppercase">
                <div class="card-meta text-muted">
                  <span class="meta-date" th:text="${#dates.format(blog.getCreatedDate(), 'dd-MM-yyyy')}"></span>
                  <span class="meta-category" th:text="'-'+${blog.getBlogTopic()}"></span>
                </div>
                <p class="card-title">
                  <a th:href="'/blog-detail?idBlog='+${blog.getId()}" th:text="${blog.getTitle()}"></a>
                </p>
              </div>
            </div>

          </div>
        </main>
      </div>
    </div>
  </section>
</div>
</th:block>
</body>
</html>