<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<th:block layout:fragment="content">
    <section class="hero-section position-relative bg-light-blue padding-medium">
        <div class="hero-content">
            <div class="container">
                <div class="row">
                    <div class="text-center padding-large no-padding-bottom">
                        <h1 class="display-4 text-uppercase fw-bolder text-dark">Giỏ hàng</h1>
                        <div class="breadcrumbs">
                <span class="item">
                  <a href="/ministore">Trang chủ ></a>
                </span>
                            <span class="item">Giỏ hàng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="h-100 h-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div th:remove="tag" th:utext="${rs}"></div>
                        <div class="card-body p-0">
                            <div class="row g-0" >
                                <div class="col-lg-8">
                                    <div class="p-2">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h1 class="fw-bold mb-0 text-black"> Đơn hàng của bạn</h1>
                                            <h6 class="mb-0 text-muted" th:text="${total}+' sản phẩm'"></h6>
                                        </div>
                                        <hr class="my-4">
                                        <div class="row mb-2 d-flex align-items-center">
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <img
                                                        th:src="${product.getImage()}"
                                                        class="img-fluid rounded-3" alt="">
                                                <div>
                                                    <div class="d-flex" ><h6 class=" text-id">Mã sản phẩm: </h6>
                                                        <h6 class="text-id" name="id-product" id="id-product" th:text="${product.getId()}"></h6>
                                                    </div>
                                                    <h6 class="text-name mb-0" th:text="${product.getName()}"></h6>
                                                </div>

                                            </div>
                                            <div class="d-flex col-md-3  col-md-2 ">
                                                <button class="btn btn-link px-2"
                                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                    <i class="fas fa-minus"></i>
                                                </button>

                                                <input id="quantity" min="0" name="quantity" type="number"
                                                       th:value="${quantity}"
                                                       class="form-control form-control-sm text-center"/>

                                                <button class="btn btn-link px-2"
                                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <th:block th:remove="${product.getSale()==0}?all:none">
                                                    <p class="mb-0"><del  th:text="${#numbers.formatDecimal(product.getPrice(),3,'DEFAULT', 0, 'DEFAULT')}"></del></p>
                                                    <p class="" th:text="${#numbers.formatDecimal((product.getPrice()*(1.0-product.getSale())),3,'DEFAULT', 0, 'DEFAULT')}"></p>
                                                </th:block>
                                                <th:block th:remove="${product.getSale()==0}?none:all">
                                                    <p class="mb-0" th:text="${#numbers.formatDecimal(product.getPrice(),3,'DEFAULT', 0, 'DEFAULT')}"></p>

                                                </th:block>
                                                <!--                                                <h6 class="mb-0" th:text="${#numbers.formatDecimal(cart.getPrice(),3,'DEFAULT', 0, 'DEFAULT')}"> </h6>-->
                                            </div>
                                            <div class="col-md-4 col-lg-3 col-xl-3 text-end">
                                                <div class="d-flex">
                                                    <a type="submit" class="btn btn-update" onclick="buyNow()">Cập nhật</a>

                                                </div>
                                            </div>

                                        </div>
                                        <hr class="my-0">
                                        <div class="pt-5">
                                            <h6 class="mb-0"><a href="/shop" class="text-body"><i
                                                    class="fas fa-long-arrow-alt-left me-2"></i>Trở lại cửa hàng</a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 bg-grey">
                                    <div class="p-2">
                                        <h3 class="fw-bold mb-5 mt-2 pt-1">Thanh toán</h3>
                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between mb-4">
                                            <p th:text="'Tổng '+${total}+' sản phẩm'"></p>
                                            <h5  th:text="${#numbers.formatDecimal(totalCart,3,'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></h5>
                                        </div>
                                        <div class="d-flex justify-content-between mb-4">
                                            <select id="id-transport" class="select" name="transport" th:onchange="'window.location.href = \'?idtransport=\' + this.value '">
                                                <option  th:each="transport:${transports}" th:value="${transport.getId()}" th:text="${transport.getName()}" th:selected="${idtransport==transport.getId()}"></option>
                                            </select>
                                            <h5  th:text="${#numbers.formatDecimal(ship,3,'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></h5>
                                        </div>
                                        <hr class="my-4">
                                        <div class="d-flex justify-content-between mb-5">
                                            <p>Tổng thanh toán</p>
                                            <h5 th:text="${#numbers.formatDecimal(totalmoney,3,'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></h5>
                                        </div>
                                        <input type="submit" value="Thanh toán" onclick="checkOut()" class="btn btn-dark">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>