
<header  id="header" class="site-header header-scrolled position-fixed text-black bg-light">
  <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
    <div class="container-fluid">
      <a href="/ministore" class="navbar-brand">
        <img src="images/main-logo.png" class="logo"/>
      </a>
      <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false"
              aria-label="Toggle navigation">
        <svg class="navbar-icon">
          <use xlink:href="#navbar-icon"></use>
        </svg>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
        <div class="offcanvas-header px-4 pb-0">
          <a href="/ministore" class="navbar-brand">
            <img src="images/main-logo.png" alt="MiniStore" class="Logo"/>
            <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                    aria-label="Close"
                    data-bs-target="#bdNavbar"></button>
          </a>
        </div>
        <div class="offcanvas-body">
          <ul id="navbar"
              class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link me-4 active" href="/ministore" >Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-4" href="/shop?key=1">Lap top</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-4" href="/shop?key=2">Phụ kiện</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-4" href="/blog">Bài viết</a>
            </li>
            <li class="nav-item">
              <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                  <li class="nav-item dropdown">
                    <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                       aria-expanded="false">
                      <img src="images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2" >
                      <div class="message-body" th:remove="tag" th:utext="${design}">
                        <a href="/view-cart" class="d-flex align-items-center gap-2 dropdown-item">
                          <i class="fa-regular fa-user"></i>
                          <p class="mb-0 fs-3">Tài khoản</p>
                        </a>
                        <a href="/view-cart" class="d-flex align-items-center gap-2 dropdown-item">
                          <i class="fa-solid fa-cart-shopping"></i>
                          <p class="mb-0 fs-3">Giỏ hàng</p>
                        </a>
                        <a href="/view-ordered" class="d-flex align-items-center gap-2 dropdown-item">
                          <i class="fa-regular fa-file-lines"></i>
                          <p class="mb-0 fs-3">Đơn hàng</p>
                        </a>
                        <a href="/logout" class="btn btn-outline-primary mx-3 mt-2 d-block">Đăng xuất</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
