<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <meta charset="UTF-8">
    <title>Order History</title>
</head>
<body>
<th:block layout:fragment="content">
    <section class="ftco-section" >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h3>Danh sách đơn hàng</h3>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table table-responsive-xl table-hover">
                            <thead>
                            <tr>
                                <th>IDHD</th>
                                <th>Thời gian đặt</th>
                                <th>Tổng tiền</th>
                                <th>Ghi chú</th>
                                <th>Người nhận</th>
                                <th>Địa chỉ</th>
                                <th>SDT</th>
                                <th>Trạng thái</th>
                                <th>Tùy chọn</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order:${orders}">
                                <td th:text="${order.getIdorders()}"></td>
                                <td th:text="${order.getOrdersDate()}"></td>
                                <td th:text="${#numbers.formatDecimal(order.getTotalMoney(),3,'DEFAULT', 0, 'DEFAULT')}"></td>
                                <td th:text="${order.getNotes()}"></td>
                                <td th:text="${order.getNameReciver()}"></td>
                                <td th:text="${order.getAddress()}"></td>
                                <td th:text="${order.getPhone()}"></td>
                                <td th:switch="${order.getStatus()}">
                                    <span th:case="'1'">Đơn đã đặt</span>
                                    <span th:case="'2'">Đang chuẩn bị</span>
                                    <span th:case="'3'">Đang vận chuyển</span>
                                    <span th:case="'4'">Đã giao hàng</span>
                                </td>
                                <td class="btn-active"><a id="btnStart" type="button" class="btn" th:href="'/order-detail?id='+${order.getId()}">Xem chi tiết</a>

                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>