<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
<head>
    <meta charset="UTF-8">
    <title>Product-Manage</title>
</head>
<body>
<th:block layout:fragment="content">
    <section>
        <div class="modal fade" id="formModal" role="dialog" aria-labelledby="formModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="formModalLabel">Thêm sản phẩm</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">Đóng</span>
                        </button>
                    </div>
                    <form id="formAwesome" action="#" th:action="@{/new-product}" method="post"
                          enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="name-product" class="col-sm-6 col-form-label">
                                    Tên sản phẩm
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="name-product" name="name-product"
                                           required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name-product" class="col-sm-6 col-form-label">
                                    Hình ảnh
                                </label>
                                <div class="col-sm-6">
                                    <input type="file" name="image" placeholder="Chọn file" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="category" class="col-sm-6 col-form-label">
                                    Danh mục
                                </label>
                                <div class="col-sm-6">
                                    <select id="category" name="category">
                                        <option th:each="cate:${categories}" th:value="${cate.getId()}"
                                                th:text="${cate.getName()}"></option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="price" class="col-sm-6 col-form-label">
                                    Đơn giá
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="price" name="price"
                                           onkeypress='return isNumberKey(event)' required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-sm-6 col-form-label">
                                    Mô tả sản phẩm
                                </label>
                                <div class="col-sm-6">
                                            <textarea name="description" class="form-control" cols="25" rows="5"
                                                      id="description" required></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="notes" class="col-sm-6 col-form-label">
                                    Ghi chú
                                </label>
                                <div class="col-sm-6">
                                            <textarea name="notes" class="form-control" cols="25" rows="5"
                                                      id="notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-secondary" value="Lưu">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h3>Danh sách sản phẩm</h3>
                </div>
                <div class="d-flex justify-content-between">
                <div>
                    <a id="btnStart" type="button" class="btn btn-pr" data-toggle="modal"
                            title="Thêm sản phẩm" data-target="#formModal"><span
                            aria-hidden="true">Thêm mới<i class="fa-solid fa-circle-plus"></i> </span></a>
                    <a class="btn btn-pr" href="/add-quantity-product">Nhập kho <i class="fa-solid fa-house-medical"></i></a>
                    <a class="btn btn-pr" href="/products-export">Xuất excel <i class="fa-solid fa-file-export"></i></a>
                </div>
                <form>
                    <div class="inner-form d-flex float-end pb-3">
                        <div class="input-field ">
                            <input id="search" type="text" placeholder="Nhập tên sản phẩm" th:value="${keyword}"/>
                        </div>

                        <div class="input-field">
                            <button class="btn-search btn btn-primary" type="button"
                                    th:onclick="'window.location.href=\'/product-manage?key=\'+search.value'">Tìm kiếm
                            </button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table table-responsive-xl table-hover sortable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th width="300px">Tên sản phẩm</th>
                                <th>Hình ảnh</th>
                                <th>Danh mục</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Giảm giá</th>
                                <th>Trạng thái</th>
                                <th>Tùy chọn</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            <tr th:each="product:${products}">
                                <td th:text="${product.getId()}"></td>
                                <td th:text="${product.getName()}"></td>
                                <td><img th:src="${product.getImage()}" class="image-product"></td>
                                <td th:text="${product.getIdcategory().getName()}" class="cl-name"></td>
                                <td th:text="${product.getQuantity()}"></td>
                                <td th:text="${#numbers.formatDecimal(product.getPrice(),3,'DEFAULT', 0, 'DEFAULT')}"></td>
                                <td th:text="${product.getSale()*100}+'%'"></td>
                                <td class="status"><span th:class="${(product.getIsactive()==1)? 'active' : 'waiting'}"
                                                         th:text="${(product.getIsactive()==1)?'Bật':'Tắt'}"></span>
                                </td>
                                <td>
                                    <a th:href="'/update-product?id='+${product.getId()}" class="btn" title="Sửa">
                                        <span aria-hidden="true"><i class="fa-solid fa-pen-to-square"></i></span>
                                    </a>
                                    <a th:href="'/image-product?idproduct='+${product.getId()}" class="btn" title="Sửa">
                                        <span aria-hidden="true"><i class="fa-solid fa-image"></i></span>
                                    </a>
                                <td>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <ul class="pagination pagination-sm d-flex" th:replace="features/pagination">
                            <!--                            <li th:if="${curentpage>1}"><a-->
                            <!--                                    th:href="@{${keyword!=null&&keyword!=''?'?key='+keyword+'&':'?'}+'?pageNo='+${curentpage-1}}">&laquo;</a>-->
                            <!--                            </li>-->
                            <!--                            <li th:each="i:${#numbers.sequence(1,totalPage)}">-->
                            <!--                                <a th:class="${curentpage==i?'active':''}"-->
                            <!--                                   th:href="@{${keyword!=null&&keyword!=''?'?key='+keyword+'&':'?'}+'pageNo='+${i}}"-->
                            <!--                                   th:text="${i}"> </a>-->
                            <!--                            </li>-->
                            <!--                            <li th:if="${curentpage<totalPage}"><a-->
                            <!--                                    th:href="@{${keyword!=null&&keyword!=''?'?key='+keyword+'&':'?'}+'pageNo='+${curentpage+1}}">-->
                            <!--                                &raquo;</a>-->
                            <!--                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</th:block>
</body>
</html>