<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
<head>
  <meta charset="UTF-8">
  <title>Orders-Manage</title>
</head>
<body>
<section class="ftco-section" layout:fragment="content">
  <div class="container">
    <div><a href="/revenue" class="btn btn-pr"> Doanh thu</a>
      <a href="/statistical" class="btn btn-pr"> Sản phẩm đã bán</a>
      <a href="/product-inventory-manage" class="btn btn-pr-active">Tồn kho sản phẩm</a></div>
    <div class="row justify-content-center">
      <div class="col-md-6 text-center p-5">
        <h3>Danh sách hàng tồn kho</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class="table table-responsive-xl table-hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>Tên sản phẩm</th>
              <th>Số lượng</th>
              <th>Thời gian nhập</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inventory:${inventories}">
              <td th:text="${inventory.getIdProduct().getId()}"></td>
              <td th:text="${inventory.getIdProduct().getName()}"></td>
              <td th:text="${inventory.getQuantity()}"></td>
              <td th:text="${#dates.format(inventory.getReceivedDate(), 'dd-MM-yyyy HH:mm:ss')}"></td>
            </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>