<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<div layout:fragment="content">
    <section class="hero-section position-relative bg-light-blue padding-medium">
        <div class="hero-content">
            <div class="container">
                <div class="row">
                    <div class="text-center padding-large no-padding-bottom">
                        <h1 class="display-2 text-uppercase fw-bolder text-dark">Cửa hàng</h1>
                        <div class="breadcrumbs">
                <span class="item">
                  <a href="index.html">Trang chủ ></a>
                </span>
                            <span class="item">Cửa hàng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="shopify-grid padding-large">
        <div class="container">
            <div class="row">
                <main class="col-md-9">
                    <div class="filter-shop d-flex justify-content-between">
                        <div class="showing-product">
                            <p>Hiển thị 9 trong 55 kết quả</p>
                        </div>
                        <div class="sort-by">
                            <select id="input-sort" class="form-control" data-filter-sort="" data-filter-order="">
                                <option value="">Mặc định</option>
                                <option value="">Tên tăng dần (A - Z)</option>
                                <option value="">Tên giảm dần (Z - A)</option>
                                <option value="">Giá (Thấp-Cao)</option>
                                <option value="">Giá (Cao-Thấp)</option>
                                <option value="">Đánh giá (Cao nhất)</option>
                                <option value="">Đánh giá (Thấp nhất)</option>
                                <option value="">Cấu hình (A - Z)</option>
                                <option value="">Cấu hình (Z - A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="product-content product-store d-flex justify-content-between flex-wrap">
                        <div class="col-lg-4 col-md-6 p-3" th:each="product:${products}">
                            <div class="product-card pe-3 pb-3">
                                <div class="image-holder">
                                    <img th:src="'images/image-product/'+${product.getImage()}" alt="product-item" class="img-fluid ">
                                </div>
                                <div class="card-detail justify-content-between pb-3">
                                    <p class="card-title text-uppercase">
                                        <a th:href="'/product-detail?idpr='+${product.getId()}" th:text="${product.getName()}"></a>
                                    </p>
                                    <p class="card-content">
                                        <span th:text="${product.getDescription()}"></span>
                                    </p>
                                    <p class="item-price" th:text="${#numbers.formatDecimal(product.getPrice(),3,'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></p>
                                    <a th:href="'/cart?idpr='+${product.getId()}" class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i></a>
                                    <a th:href="'/cart?idpr='+${product.getId()}" class="btn btn-danger">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
                        <div class="pagination loop-pagination d-flex justify-content-center align-items-center">
                            <a href="#">
                                <svg class="chevron-left pe-3">
                                    <use xlink:href="#chevron-left"></use>
                                </svg>
                            </a>
                            <span aria-current="page" class="page-numbers current pe-3">1</span>
                            <a class="page-numbers pe-3" href="#">2</a>
                            <a class="page-numbers pe-3" href="#">3</a>
                            <a class="page-numbers pe-3" href="#">4</a>
                            <a class="page-numbers" href="#">5</a>
                            <a href="#">
                                <svg class="chevron-right ps-3">
                                    <use xlink:href="#chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </nav>
                </main>
                <aside class="col-md-3">
                    <div class="sidebar">
                        <div class="widget-menu">
                            <div class="widget-search-bar">
                                <form role="search" method="get" class="d-flex">
                                    <input class="search-field" placeholder="Search" type="search">
                                    <div class="search-icon bg-dark">
                                        <a href="#">
                                            <svg class="search text-light">
                                                <use xlink:href="#search"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="widget-product-categories pt-5">
                            <h5 class="widget-title text-decoration-underline text-uppercase">Danh mục</h5>
                            <ul class="product-categories sidebar-list list-unstyled" >
                                <li class="cat-item">
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-product-tags pt-3">
                            <h5 class="widget-title text-decoration-underline text-uppercase">Từ khóa</h5>
                            <ul class="product-tags sidebar-list list-unstyled">
                                <li class="tags-item">
                                    <a href="">Trắng</a>
                                </li>
                                <li class="tags-item">
                                    <a href="">Rẻ</a>
                                </li>
                                <li class="tags-item">
                                    <a href="">Điện thoại</a>
                                </li>
                                <li class="tags-item">
                                    <a href=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-product-brands pt-3">
                            <h5 class="widget-title text-decoration-underline text-uppercase">Lọc theo hãng</h5>
                            <ul class="product-tags sidebar-list list-unstyled">
                                <li class="tags-item">
                                    <a href="">Apple</a>
                                </li>
                                <li class="tags-item">
                                    <a href="">Samsung</a>
                                </li>
                                <li class="tags-item">
                                    <a href="">Huwai</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-price-filter pt-3">
                            <h5 class="widget-titlewidget-title text-decoration-underline text-uppercase">Lọc theo
                                giá</h5>
                            <ul class="product-tags sidebar-list list-unstyled">
                                <li class="tags-item">
                                    <a href="">Nhỏ hơn 3.000.000 đ</a>
                                </li>
                                <li class="tags-item">
                                    <a href="">3.0000.000- 5.000.000 đ</a>
                                </li>
                                <li class="tags-item">
                                    <a href="">5.0000.000- 7.000.000 đ</a>
                                </li>
                                <li class="tags-item">
                                    <a href="">7.0000.000- 10.000.000 đ</a>
                                </li>
                                <li class="tags-item">
                                    <a href="">1.0000.000- 20.000.000 đ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
</body>
</html>