<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<th:block layout:fragment="content">
    <section class="hero-section position-relative bg-light-blue padding-medium">
        <div class="hero-content">
            <div class="container">
                <div class="row">
                    <div class="text-center padding-large no-padding-bottom">
                        <h1 class="display-2 text-uppercase fw-bolder text-dark">Cửa hàng</h1>
                        <div class="breadcrumbs">
                <span class="item">
                  <a href="/ministore">Trang chủ ></a>
                </span>
                            <span class="item">Cửa hàng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="shopify-grid padding-large">
        <div class="container">
            <div class="row">
                <main class="col-md-9">
                    <div class="filter-shop d-flex justify-content-between">
                        <div class="showing-product">
                            <p>Hiển thị 9 </p>
                        </div>
<!--                        <div class="sort-by">-->
<!--                            <select id="input-sort" class="form-control" data-filter-sort="" data-filter-order="">-->
<!--                                <option value="">Mặc định</option>-->
<!--                                <option value="ASC">Giá (Thấp-Cao)</option>-->
<!--                                <option value="DESC">Giá (Cao-Thấp)</option>-->

<!--                            </select>-->
<!--                        </div>-->
                    </div>
                    <div class="product-content product-store d-flex justify-content-between flex-wrap">
                        <div class="col-lg-4 col-md-6 p-3" th:each="product:${products}">
                            <div class="product-card pe-3 pb-3">
                                <div class="image-holder">
                                    <img th:src="${product.getImage()}" alt="product-item" class="img-fluid item-product">
                                </div>
                                <div class="card-detail justify-content-between pb-3">
                                    <p class="card-title text-uppercase">
                                        <a th:href="'/product-detail?idpr='+${product.getId()}" th:text="${product.getName()}"></a>
                                    </p>
                                    <p class="card-content">
                                        <span th:text="${product.getDescription()}"></span>
                                    </p>
                                    <p class="item-price" th:text="${#numbers.formatDecimal(product.getPrice(),3,'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></p>
                                    <div th:remove="${product.getQuantity()==0}?none:all">

                                        <a href="#" class="btn btn-warning">Tạm hết hàng</a>
                                    </div>
                                    <div th:remove="${product.getQuantity()==0}?all:none">
                                        <a th:href="${(check==0)?'/add-cart?idpr='+product.getId():'/cart?idpr='+product.getId()}" class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i></a>
                                        <a th:href="'/buyProduct?idpr='+${product.getId()}" class="btn btn-danger">Mua ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
                        <ul class="pagination loop-pagination d-flex justify-content-center align-items-center">
                            <li th:if="${curentpage>1}"><a
                                    th:href="@{${keyword!=null&&keyword!=''?'?key='+keyword+'&':'?'}+'?pageNo='+${curentpage-1}}">&laquo;</a>
                            </li>
                            <li th:each="i:${#numbers.sequence(1,totalPage)}">
                                <a th:class="${curentpage==i?'active':''}"
                                   th:href="@{${keyword!=null&&keyword!=''?'?key='+keyword+'&':'?'}+'pageNo='+${i}}"
                                   th:text="${i}"> </a>
                            </li>
                            <li th:if="${curentpage<totalPage}"><a
                                    th:href="@{${keyword!=null&&keyword!=''?'?key='+keyword+'&':'?'}+'pageNo='+${curentpage+1}}">
                                &raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </main>
                <aside class="col-md-3">
                    <div class="sidebar">
                        <div class="widget-menu">
                            <div class="widget-search-bar">
                                <form role="search" method="get" class="d-flex" th:action="@{/shop}">
                                    <input class="search-field" placeholder="Nhập ..." type="search" name="key" th:value="${keyword}">

                                        <button type="submit" class="btn btn-dark">
                                            Tìm kiếm
                                        </button>

                                </form>
                            </div>
                        </div>

                        <div class="widget-price-filter pt-3">
                            <div class="widget-product-categories pt-5">
                                <h5 class="widget-title text-decoration-underline text-uppercase">Danh mục</h5>
                                <ul class="product-categories sidebar-list list-unstyled" th:each="category:${categories}">
                                    <li class="cat-item">
                                        <a th:href="'/shop?idcate='+${category.getId()}" th:text="${category.getName()}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>