<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
<head>
    <meta charset="UTF-8">
    <title>User-Manage</title>
</head>
<body>

<section class="ftco-section" layout:fragment="content">
    <div  class="container" >
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h3>Danh sách khách hàng</h3>
            </div>
            <form>
                <div class="inner-form d-flex float-end pb-3">
                    <div class="input-field">
                        <div class="input-select">
                            <select data-trigger="" name="choices-single-defaul">
                                <option>----Chọn----</option>
                                <option value="id">ID</option>
                                <option value="email">Email</option>
                                <option value="sdt">Số điện thoại</option>
                                <option value="hoten">Họ tên</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field ">
                        <input id="search" type="text" placeholder="Nhập từ khóa" />
                    </div>

                    <div class="input-field">
                        <button class="btn-search btn btn-primary" type="button">Tìm kiếm</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-responsive-xl">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Họ tên</th>
                            <th>Tên người dùng</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Số điện thoại</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                            <th>Tùy chọn</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="alert" role="alert" th:each="user:${users}">
                            <td>
                               <span th:text="${user.getId()}"></span>
                            </td>
                            <td>
                                <span th:text="${user.getName()}"></span>
                            </td>
                            <td>
                                <span th:text="${user.getUsername()}"></span>
                            </td>
                            <td>
                                <span th:text="${user.getEmail()}"></span>
                            </td>
                            <td><span th:text="${user.getAddress()}"></span></td>
                            <td><span th:text="${user.getPhone()}"></span></td>
                            <td><span th:text="${user.getCreatedDate()}"></span></td>
                            <td class="status"><span th:class="${(user.getIsactive()==1)? 'active' : 'waiting'}"
                                                     th:text="${(user.getIsactive()==1)?'Bật':'Tắt'}"></span>
                            </td>
                            <td class="btn-active">
                                <a type="button" class="btn" th:href="'/order-manage?idcustomer='+${user.getId()}">
                                    Đơn hàng
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>